

h1{
    font-size: 14pt;
    text-align: center;
    text-decoration: dashed;

}
h3{

    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}
img#pmba{
  margin-top: 0px;
}
dihv{
    background-color: rgba(102, 102, 102, 0.64);
    display: block;
    margin: auto auto auto auto;

    font-size: 12pt;
    margin: 0 auto;

}
fieldset{
    width: 500px;
    margin: 0 auto;
    background-color: #6a93cc;
    color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);

}
p#nome{
    color: #000000;
    text-align: center;
    font-size: 16pt;
}
p#assinatura{
    text-align: center;
    color: #000000;
    position: absolute;
    top: 20cm;
    left: 5cm;
}
form{
    font-family: verdana, helvetica ;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 560px;
    min-height: 450px;
    margin-top: 20px;
    margin-left: 20px;
}



 footer{
     color: #000000 ;



 }
 table#relatorio{
     width: 25cm;
     margin: auto auto auto 0cm;
     border:0.2px solid #000000;
     border-spacing: 0px;

 }
footer{

     text-align: center;
 }
table#relatorio td#cima{
    background-color: rgba(74, 107, 177, 0.84);
    border:0.4px solid #000000;
    color: #ffffff;
    border-spacing: 1px;


}
table#relatorio td{
    background-color: rgba(13, 35, 172, 0);
    border:1px solid #000000;
    border-spacing: 0.1px;

}
table#OPO{
    width: 23cm;
    margin: 0 auto;

}
table#OPO td#dir{
    width: 50%;
    padding: 5px 5px 5px 5px;


}

input#botao{

    font:bold 15px Helvetica;
    font-style:normal;
    color:#000000;
    background:#e3e3e3;
    border:1px solid #bbb;
    text-shadow:0px 1px 0px #fff;
    box-shadow:0px 7px 1px #000000;
    -moz-box-shadow:0px 7px 1px #000000;
    -webkit-box-shadow:0px 7px 1px #000000;
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    width:73px;
    padding:5px 15px;
    cursor:pointer;
    margin-left: 380px;

}

span.red{
  text-shadow: #666666;
  color: red;
}
span.azul{
    color: #0d00ff;
}
span.amarelo{
    color: #eeee47;
}
span.laranja{
    color: #ff9f06;
}
span.negrito{
font-weight: bold;
}
h6{
    text-align:right;
}