@charset "utf-8";
section#interface{
    width: 1100px;
    background-color: #ffffff;
    margin: 10px auto 10px auto;;
    box-shadow: 0 0px 10px black;
    padding: 10px;

}
h4#topo{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #314776;
    font-size: 25pt;
    text-align: left;
}

header#cabeca{
    margin-bottom: 10px;
}
iframe#frame-spec{
    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;
}
table#prod{
    display: block;
    width: 300px;
    border:1px solid #888888;
}
table#prod td{
    border: 1px solid #606060;
    padding: 05px;
    text-align: center;

}
table#prod td.cd{
    background-color: #c0c0c0;

}
table#prod td.ce{
    background-color: #666666;
    color: white;
}

figure.foto-legendA{
    height: 120px;
    width: 400px;
}
div#lateral{
    display: block;
    width: 1150px;
    background-color: #fdfff4;
    padding: 20px;
    margin: 0px auto 40px auto;

    box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.50);

}
img#prod{
    position: absolute;
    top: 360px;
    width: 820px;
    height: 400px;
    left: 600px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
}
